<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Client Progress</h3>
      <a routerLink="/server" class="serverLink" target="_blank">Server Link</a>
    </div>
    <div class="box-body">
      <form role="form">

        <div class="form-group" [ngClass]="{'has-error': errMessage !== ''}">
          <label for="username">Username: </label>
          <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}"/>
        </div>
        <div class="form-group" [ngClass]="{'has-error': errMessage !== ''}">
          <label for="password">Password: </label>
          <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>
        </div>

        <div class="form-group">
          <label>Measure topics: </label>
          <ng-select
          [options]="options"
          [multiple]="true"
          placeholder="Select multiple"
          (selected)="onMultipleSelected($event)"
          (deselected)="onMultipleDeselected($event)">
        </ng-select>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="subscribedMeasures.length === 0 || user.name === '' || user.password === ''" (click)="subscribeMeasures()">Submit</button>

        <div class="form-group has-error" [hidden]="errMessage === ''">
          <span class="help-block">The subscription request 'user' could be authenticated</span>
        </div>
    </form>

    <div class="box" style="margin-top: 30px;">
      <div class="box-header">
        <label>Received Messages</label>
      </div>
      <!-- /.box-header -->
      <div class="box-body no-padding">
        <div class="row">
          <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active" [hidden]="!messages[env.AGENTMEASURES].length"><a href="#tab_1" data-toggle="tab" [innerHtml] = "env.AGENTMEASURES"></a></li>
                <li><a href="#tab_2" data-toggle="tab" [hidden]="messages[env.AGENTBYACCOUNTMEASURES].length == 0" [innerHtml] = "env.AGENTBYACCOUNTMEASURES"></a></li>
                <li><a href="#tab_3" data-toggle="tab" [hidden]="messages[env.ROUTINGSERVICEMEASURES].length == 0" [innerHtml] = "env.ROUTINGSERVICEMEASURES"></a></li>
                <li><a href="#tab_4" data-toggle="tab" [hidden]="messages[env.AGENTBYROUTINGSERVICEMEASURES].length == 0" [innerHtml] = "env.AGENTBYROUTINGSERVICEMEASURES"></a></li>
                <li><a href="#tab_5" data-toggle="tab" [hidden]="messages[env.AGENTMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTMEASURESMOVINGWINDOW"></a></li>
                <li><a href="#tab_6" data-toggle="tab" [hidden]="messages[env.AGENTBYACCOUNTMEASURSMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTBYACCOUNTMEASURSMOVINGWINDOW"></a></li>
                <li><a href="#tab_7" data-toggle="tab" [hidden]="messages[env.ROUTINGSERVICEMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.ROUTINGSERVICEMEASURESMOVINGWINDOW"></a></li>
                <li><a href="#tab_8" data-toggle="tab" [hidden]="messages[env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW"></a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTMEASURES]" [data] = "messages[env.AGENTMEASURES]"></app-tabular-table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_2">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTBYACCOUNTMEASURES]" [data] = "messages[env.AGENTBYACCOUNTMEASURES]"></app-tabular-table>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="tab_3">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.ROUTINGSERVICEMEASURES]" [data] = "messages[env.ROUTINGSERVICEMEASURES]"></app-tabular-table>
                </div>
                <div class="tab-pane" id="tab_4">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTBYROUTINGSERVICEMEASURES]" [data] = "messages[env.AGENTBYROUTINGSERVICEMEASURES]"></app-tabular-table>
                </div>
                <div class="tab-pane" id="tab_5">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTMEASURESMOVINGWINDOW]" [data] = "messages[env.AGENTMEASURESMOVINGWINDOW]"></app-tabular-table>
                </div>
                <div class="tab-pane" id="tab_6">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTBYACCOUNTMEASURSMOVINGWINDOW]" [data] = "messages[env.AGENTBYACCOUNTMEASURSMOVINGWINDOW]"></app-tabular-table>
                </div>
                <div class="tab-pane" id="tab_7">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.ROUTINGSERVICEMEASURESMOVINGWINDOW]" [data] = "messages[env.ROUTINGSERVICEMEASURESMOVINGWINDOW]"></app-tabular-table>
                </div>
                <div class="tab-pane" id="tab_8">
                  <app-tabular-table [listTopicProperties]="listTopicProperties[env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW]" [data] = "messages[env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW]"></app-tabular-table>
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
<!-- /.box -->

</section>
<!-- /.content -->

