<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Client Progress</h3>
        <a routerLink="/server" class="serverLink">Server Link</a>
      </div>
      <div class="box-body">
        <form role="form">
          <!-- select -->
          <div class="form-group">
            <label>Measure topics</label>
            <ng-select
              [options]="options"
              [multiple]="true"
              placeholder="Select multiple"
              (opened)="onMultipleOpened()"
              (closed)="onMultipleClosed()"
              (selected)="onMultipleSelected($event)"
              (deselected)="onMultipleDeselected($event)">
            </ng-select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="input.records.length == 0" (click)="addRecord(env.rsr, input)">Submit</button>

        </form>
        <div class="box" style="margin-top: 30px;">
          <div class="box-header">
            <h3 class="box-title">Received Messages</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body no-padding">



            <div class="row">
              <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class="active" [hidden]="!messages[env.AGENTMEASURES].length"><a href="#tab_1" data-toggle="tab" [innerHtml] = "env.AGENTMEASURES"></a></li>
                    <li><a href="#tab_2" data-toggle="tab" [hidden]="messages[env.AGENTBYACCOUNTMEASURES].length == 0" [innerHtml] = "env.AGENTBYACCOUNTMEASURES"></a></li>
                    <li><a href="#tab_3" data-toggle="tab" [hidden]="messages[env.ROUTINGSERVICEMEASURES].length == 0" [innerHtml] = "env.ROUTINGSERVICEMEASURES"></a></li>
                    <li><a href="#tab_4" data-toggle="tab" [hidden]="messages[env.AGENTBYROUTINGSERVICEMEASURES].length == 0" [innerHtml] = "env.AGENTBYROUTINGSERVICEMEASURES"></a></li>
                    <li><a href="#tab_5" data-toggle="tab" [hidden]="messages[env.AGENTMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTMEASURESMOVINGWINDOW"></a></li>
                    <li><a href="#tab_6" data-toggle="tab" [hidden]="messages[env.AGENTBYACCOUNTMEASURSMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTBYACCOUNTMEASURSMOVINGWINDOW"></a></li>
                    <li><a href="#tab_7" data-toggle="tab" [hidden]="messages[env.ROUTINGSERVICEMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.ROUTINGSERVICEMEASURESMOVINGWINDOW"></a></li>
                    <li><a href="#tab_8" data-toggle="tab" [hidden]="messages[env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW].length == 0" [innerHtml] = "env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW"></a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTMEASURES]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTBYACCOUNTMEASURES]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.ROUTINGSERVICEMEASURES]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane" id="tab_4">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTBYROUTINGSERVICEMEASURES]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane" id="tab_5">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTMEASURESMOVINGWINDOW]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane" id="tab_6">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTBYACCOUNTMEASURSMOVINGWINDOW]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane" id="tab_7">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.ROUTINGSERVICEMEASURESMOVINGWINDOW]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane" id="tab_8">
                      <table class="table table-condensed">
                        <tr>
                          <th style="width: 10px">#</th>
                          <th>Instance Name</th>
                          <th>Message</th>
                          <th>Measure topics</th>
                          <th style="width: 40px">code</th>
                        </tr>
                        <tr *ngFor="let item of messages[env.AGENTBYROUTINGSERVICEMEASURESMOVINGWINDOW]">
                          <td [innerHtml]="$index"></td>
                          <td [innerHtml]="item.value.measuresStream"></td>
                          <td>{{convertString(item.value)}}</td>
                          <td [innerHtml]="item.topic">
                          </td>
                          <td><span class="badge bg-red" [innerHtml]="item.value.time"></span></td>
                        </tr>
                      </table>
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
              </div>
              <!-- /.col -->
            </div>
          </div>
          <!-- /.box-body -->


        </div>
      </div>
    </div>
    <!-- /.box -->

  </section>
<!-- /.content -->

